<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1239.v71b_b_a_124a_725">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2114.v2654ca_721309"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2114.v2654ca_721309">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>Jenkins Prometheus Plugin expose an endpoint (default /prometheus) with metrics where a Prometheus Server can scrape.&#xd;
Documentation can be found here https://plugins.jenkins.io/prometheus&#xd;
Please note that the documentation is a WIP.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2801.vf82a_b_b_e3e8a_5">
    <script>pipeline {
    agent { label &apos;master&apos; }
      stages {
        stage(&apos;Initialize&apos;) {
      steps {
        echo &apos;log version info&apos;  
        sh &apos;mvn --version&apos;
      }
    }
        stage(&apos;Build&apos;) {
            steps {
                echo &apos;Building&apos;
                git &apos;https://github.com/jenkinsci/prometheus-plugin.git&apos; 
                sh &apos;mvn clean install&apos;
                sh &apos;mvn hpi:hpi&apos;                
            }
            post {
                always {
                    archiveArtifacts artifacts: &apos;target/**.hpi,target/**.jpi,target/**.jar&apos;, fingerprint: true
                    junit(
                  allowEmptyResults: true,
                  testResults: &apos;**/*.xml&apos;
                )  
                }
    }              
        }
        stage(&apos;Test&apos;) {
            steps {
                echo &apos;Testing&apos;
                sh &apos;mvn test&apos;
            }
        }
        stage(&apos;Deploy&apos;) {
            steps {
                echo &apos;Deploying&apos;
            }
        }        
  }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>